
.ipynb_checkpoints/PlotSlabsWarping-checkpoint.ipynb

subduction_3d_geometries_time_0.00Ma_dip_45.00deg.asc

*.asc

.ipynb_checkpoints/splits-and-merges-checkpoint.ipynb
*.pyc
.ipynb_checkpoints/slab_tracker_utils-checkpoint.py
